*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nirmala UI';
    background-color: var(--light-bg) !important;
    /* padding: 1rem !important; */
}
:root{
    --yallow:#ffca25;
    --gray:#4c4c4c;
    --white:#fff;
    --black:#000;
    --lightGray: #6f6f6f;
--light-bg: #e9e9e9;
}

.header{
    background-color: var(--white);
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.12);
    position: relative;
}
.disF{
    display: flex;
    align-items: center;
    justify-content: center;
}
.disFend{
    display: flex;
    align-items: center;
    justify-content: end;
}
.searchBox{
    position: relative;
}
.searchBox .search {
    background: #f5f5f5;
    border-radius: 30px;
    border: 1px solid #c9c9c9;
    padding: 8px 45px;
    font-size: 15px;
    color: var(--lightGray);
}
img.searchIcon {
    position: absolute;
    left: 10px;
    top: 10px;
}
span.notification {
position: absolute;
    right: 3px;
    top: 1px;
    background: #fafafa;
    width: 39px;
    border-radius: 0 20px 20px 0px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
}
span.notGreen {
    background: #289c04;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    position: relative;
    top: -4px;
    left: -7px;
    border: 1px solid #fafafa;
}
.userName{
    font-size: 18px;
    padding: 0 10px;
    color: var(--lightGray);
}
.dropdown.bootstrap-select.did-floating-input .bootstrap-select>select.mobile-device:focus+.dropdown-toggle,
.bootstrap-select .dropdown-toggle:focus {
    outline: 0px auto -webkit-focus-ring-color !important;
    outline-offset: 0 !important;
}

.dropdown.bootstrap-select.did-floating-input button.btn.dropdown-toggle.btn-light {
    background: transparent;
    height: 43px;
    border: 0;
    outline: 0;
}

a.dropdown-toggle.profile {
    background: var(--white);
    line-height: 25px;
    width: 50px;
    height: 30px;
    color: var(--green);
    margin: 0 auto;
    border-radius: 5px;
    padding: 0;
}

.dropdown-menu::before {
    content: "";
    position: absolute;
    top: 2px;
    right: 0;
    border: 7px solid #fff;
    border-color: transparent transparent #ffffff #ffffff;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    box-shadow: -2px 2px 2px -1px rgb(0 0 0 / 10%);
}

.dropdown.show .dropdown-menu {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
    left: auto !important;
    right: 0;
    top: 34px !important;
    transform: translateY(0) !important;
    z-index: 3;
}

.dropdown-menu {
    opacity: 0;
    transition: all .2s ease;
    display: block;
    transform: translateY(20px) !important;
    left: auto !important;
    right: 0;
    top: 34px !important;
    z-index: 1;
}

.dropdown-menu {
    border: 0;
    box-shadow: 0 0 3px rgb(0 0 0 / 10%);
    padding: 0;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: var(--green);
    background-color: var(--white);
    border-radius: 4px;
}
.plr-15{
    padding-left: 0px;
    padding-right: 25px;
}
.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow:none;
}
/* .nav-link[data-toggle].collapsed:after {
    content: "▾";
}

.nav-link[data-toggle]:not(.collapsed):after {
    content: "▴";
} */
.header_bottom{
        position: relative;
            top: 13px;
}
.leftMenu{
    background: var(--white);
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.12);
    display: block !important;
    height: 100%;
}
.leftMenu ul li{
    display: block;
    border-bottom: 1px solid #e9e9e9;
}
.leftMenu ul li a{
        padding: 1rem 0;
        font-size: 18px;
        color: var(--lightGray);
}
.leftMenu ul li a i{
    padding-right: 20px;
}
.subMenu ul.flex-column li{
    border: 0;
}
.subMenu ul.flex-column li a{
    padding: 5px 0;
    font-size: 15px;
}
a.nav-link i.active{
    color: var(--yallow);
}
a.nav-link.collapsed i.active{
color: var(--lightGray);
}
.whiteBg{
    background: var(--white);

}
.bannerBg{
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;

}
.bannerBg .title{
    color: var(--white);
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.greenBox{
    background: url('../images/s1.png'), #35ab7d;
height: 132px;
    background-repeat: no-repeat;
        box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.12);
        color: var(--white);
}

.yellowBox {
    background: url('../images/s2.png'), #f8b400;
    height: 132px;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.12);
    color: var(--white);
}
.darkgreenBox {
    background: url('../images/s3.png'), #99ab35;
    height: 132px;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.12);
    color: var(--white);
}
.yellowBox4 {
    background: url('../images/s4.png'), #f8b400;
    height: 132px;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.12);
    color: var(--white);
}
.darkgreenBox5 {
    background: url('../images/s5.png'), #99ab35;
    height: 132px;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.12);
    color: var(--white);
}
.lightgreenBox{
background: url('../images/s6.png'), #35ab97;
    height: 65px;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.12);
    color: var(--white);
}
.boxTitle2{
    font-size: 20px;
        font-weight: bold;
        line-height: 20px;
}
.pl-7{
    padding-left: 7px;
}
.darkbrownBox{
    background: url('../images/s7.png'), #ab6635;
        height: 65px;
        background-repeat: no-repeat;
        box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.12);
        color: var(--white);
}



.boxTitle{
font-size: 25px;
font-weight: bold;
}
.amount{
    font-size: 40px;
        font-weight: bold;
}
.branch::before {
    background: url(../images/branch.png);
    background-repeat: no-repeat;
    position: absolute;
    content: '';
    width: 98px;
    height: 83px;
    top: 25px;
    left: -15px;
}
.branch {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 83px;
}

.pageTitle{
    color: var(--lightGray);
    font-size: 20px;
}
.footer{
    background-color: #4c4c4c;
    color: var(--white);
    font-size: 15px;
    height: 85px;
    display: flex;
        align-items: center;
}


.footerLink {
    display: flex;
    align-items: end;
    justify-content: end;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a, a:hover{
    text-decoration: none;
}
.footerLink ul li{
display: inline-block;
padding: 0 15px;
}
.footerLink ul li a{
    color: var(--white);
}